<h1>Order</h1>
<div class="order">
    <div class="order-cards">
        <div class="order-card">
                <h2 class="order-card-title">Title</h2>
                <div class="order-card-layout">
                    <p>Product Name</p>
                    <p>Product Price</p>
                    <p>Product Discontinued</p>
                    <p>Product Units On Stock</p>
                    <button class="order-card-layout-addToCart">Order</button>
                </div>
        </div>
    </div>
</div>


<style>
    .order-cards {
        display:flex;
        flex-wrap:wrap;
        padding: 30px 0 30px 0;
    }
    .order-card {
        width: 250px;
        height: 300px;
        border: solid 1px grey;
        padding: 20px
    }
    .order-card-title {
        text-align:center;
    }
    .order-card-layout{
        margin-top:20px;
        display: flex;
        flex-direction: column;
    }
    .order-card-layout-addToCart {
        align-content: end;
    }
</style>